@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#button {
  font-family: "Big Shoulders Inline Text", cursive;
  color: black;
  font-size: 400%;
}

span {
  background: white !important;
}

.s0 {
  background-color: #702547;
  text-align: center;

  h2 {
    color: black;
  }
}

.s1 {
  background-color: #f9b3d1;
  text-align: center;
}

.s2 {
  background: #624763;
  text-align: center;
}
.s3 {
  background: #624763;
  text-align: center;
}

.titles {
  margin: -5rem;
}
.title {
  font-family: "Big Shoulders Inline Text", cursive;
  color: white;
  font-size: 400%;
}
.subtitle {
  color: white;
  font-family: "Big Shoulders Inline Text", cursive;
}
.img {
  width: 50%;
}

.invert-mode {
  filter: invert() hue-rotate(180deg) brightness(105%) contrast(105%);
}
